/vendor/

.env

composer.lock

/.phpunit.result.cache
/.pesttracker
/.phpunit.cache/

/tests/tmp/*
!/tests/tmp/.gitkeep

.DS_Store
/.idea/
/.vscode/

/.php-cs-fixer.cache
/.phpstan.cache/
/psalm.cache/
